.primerFila {
    background-color: #0b4bca;
    color: white;
}

.segundaFila {
    background-color: #072d7a;
    color: white;
}

.TerceraFila {
    background-color: #0b4bca;
    color: white;
}
.Boton{
    text-align: center;
    background-color: #072d7a

}
* {
    margin: 0;
}